.mood-selection-container {
    padding: 0 15px;
}

.mood-selection-container {
    padding-bottom: 5px;
}

.mood-selection-container .icon {
    height: 25px;
}

.selected-mood {
    display: inline-block;
}

.available-mood div{
    display: inline-block;
}

.available-mood img {
    float: right;
}

.available-mood {
    padding-bottom: 5px;
}

.pointer {
    cursor: pointer;
}

.add-icon {
    float: right;
    display: inline-block;
    margin-top: 5px;
}

.available-moods-container {
    padding-top: 60px;
}
