.mood-selection-container {
    padding: 0 15px;
}

.mood-selection-container .selected-mood {
    padding-bottom: 5px;
}

.selected-mood div{
    display: inline-block;
}

.mood-selection-container .icon {
    height: 25px;
    margin-right: 5px;
}

.remove-mood {
    float: right;
}

.pointer {
    cursor: pointer;
}
