.mood-selection-container {
    padding: 0px 8px 0px 8px;
    overflow: hidden;
}

.mood-selection-container {
    padding-bottom: 5px;
    display: block;
}

.mood-selection-container .icon {
    height: 25px;
}

.selected-mood {
    display: inline-block;
}

.available-mood div{
    display: inline-block;
}

.available-mood img {
    float: right;
}

.available-mood {
    padding-bottom: 5px;
}

.pointer {
    cursor: pointer;
}

.add-icon {
    float: right;
    display: inline-block;
    margin-top: 5px;
}

.available-moods-container {
    height: calc(100vh - 500px);
    width: 100%;
    overflow: scroll;
    padding-left: 8px;
}

.available-moods-wrapper {
}

.available-moods-container::-webkit-scrollbar {
    display: none;
}

.arrow {
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 20px;
    display: block;
}

.arrow-wrapper {
    width: 100%;
    display: block;
}

.selected-moods-add-icon-container {
    display: block;
    height: 30px;
}
